<a href="https://colab.research.google.com/github/Hend-Emad/Forest-Fires-Prediction/blob/main/Forest_fires_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv('/content/forestfires.csv')
X = pd.get_dummies(dataset.iloc[: , :-1], drop_first=True)
X = X.values
y = dataset.iloc[: , -1]

In [ ]:
dataset

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer( )
X = imputer.fit_transform(X)

In [ ]:
X

array([[ 7. ,  5. , 86.2, ...,  0. ,  0. ,  0. ],
       [ 7. ,  4. , 90.6, ...,  0. ,  1. ,  0. ],
       [ 7. ,  4. , 90.6, ...,  0. ,  0. ,  0. ],
       ...,
       [ 7. ,  4. , 81.6, ...,  0. ,  0. ,  0. ],
       [ 1. ,  4. , 94.4, ...,  0. ,  0. ,  0. ],
       [ 6. ,  3. , 79.5, ...,  0. ,  1. ,  0. ]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size=0.2 , random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler( )
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression( )
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score
print('MSE = ', mse(y_pred , y_test))
print('MAE = ', mae(y_pred , y_test))
print('R2 Score = ', r2_score(y_pred , y_test))

MSE =  94436497.73466298
MAE =  8932.416173714128
R2 Score =  -5.4802369070763

In [ ]:
from sklearn.tree import DecisionTreeRegressor as dtr
reg = dtr(random_state=0)
reg.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
y_pred = reg.predict(X_test)

In [ ]:
print('MSE = ', mse(y_pred , y_test))
print('MAE = ', mae(y_pred , y_test))
print('R2 Score = ', r2_score(y_pred , y_test))

MSE =  510410.8749346153
MAE =  696.4615384615385
R2 Score =  -19.02524291329092

In [ ]:
from sklearn.ensemble import RandomForestRegressor as rfr
regr = rfr(max_depth=2 , random_state=0 , n_estimators=100)
regr.fit(X_train , y_train)
y_pred = regr.predict(X_test)

In [ ]:
print('MSE = ', mse(y_pred , y_test))
print('MAE = ', mae(y_pred , y_test))
print('R2 Score = ', r2_score(y_pred , y_test))

MSE =  58438.848092510874
MAE =  231.62108023961662
R2 Score =  -2878.282974596991